    <footer class="text-center text-lg-start" style="background-color: rgb(81, 102, 193);">
      <div  class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Hend Tawfik 
        <br>
        <a class="text-white"  href="https://github.com/hendmohammed10420/Todo-list_Angular">  <i class="fa">&#xf09b;</i>github-link</a>
        <br>
        
        <a class="text-white"  href=" https://hendtawfik.hashnode.dev/typescript-article">Hashnode_Article's link</a>
        
      </div>
    </footer>
    
  
