<!-- <h1 {{title}}> </h1> -->
<app-nav></app-nav>
<section class="vh-200" style="background-color: #e2d5de;">
  <div class="container py-5 h-100" ngif="todo">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px; ">
          <div class="card-body p-5">
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="Enter your to do"
                [(ngModel)]="dataInput">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  Add </button>

              </div>
            </div>
            <app-todo *ngFor="let todo of ls" [todo]="todo"></app-todo>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>