<section class="TDForm">
 <!-- class="vh-100 bg-image" -->
  <!-- style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"> -->
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form class="w-50 m-auto my-5" (ngSubmit)="submitMyForm(form)" #form="ngForm">
                <div class="form-outline mb-4">
                  <label for="username">Username:</label>
                  <input class="form-control" name="username"  placeholder="Enter your username" #username="ngModel" ngModel type="text" id="username"
                    required>
                  <p *ngIf="username.touched && username.errors?.['required']" class="text-danger text-uppercase">
                    username
                    is
                    required</p>
                </div>
                <div class="form-outline mb-4">
                  <label for="email">email:</label>
                  <input class="form-control"  placeholder="Enter your email"  [ngClass]="email.touched ? email.errors ? 'not vaild' : 'valid':'' "
                    #email="ngModel" ngModel name="email" type="email" id="email" required email>
                  <p *ngIf="email.touched && email.errors?.['required']" class="text-danger text-uppercase">email is
                    required</p>
                  <p *ngIf="email.touched && email.errors?.['email']" class="text-danger text-uppercase">email is not
                    valid</p>
                </div>
                <div class="form-outline mb-4">
                  <label for="quote">Quote:</label>

                  <input class="form-control"  placeholder="Enter your quote" ngModel name="quote" type="text" id="quote" required>
                </div>
                <div class="d-flex justify-content-center">
                  <input class="btn  btn-info btn-block btn-lg gradient-custom-4 text-body" type="submit"
                    [disabled]="!form.valid">
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body" [routerLink]="['login']"><u>Login</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>